@if(variant==="side-image") {
    <section class="main-section flex flex-row justify-center items-center gap-16">
        <div class="flex-1 ">
            <div class="flex flex-col ">
                <div class="flex flex-col gap-6">
                    <h1 class="text-4xl font-extrabold font-body ">{{mainText}}</h1>
                    <span class="text-xl font-spans">{{descriptionText}}</span>
                    <pghub-btn btn-text="{{buttonText}}" btn-radius="{{buttonRadius}}" btn-font-size="{{buttonFontSize}}"></pghub-btn>
                </div>
            </div>
        </div>
        <div class="flex-1 min-w-96 max-w-full h-auto flex justify-center">
            <img ngSrc="{{ imagemApresentacao }}" width="393" height="349" class="max-h-96"/>
        </div>
    </section>
} @else {

}
