<div class="{{spaceAbove}}"></div>
<div class="flex flex-row {{navMainTailwindArgs}}">
    <div class="grid grid-flow-col auto-cols-auto w-full {{navGridTailwindArgs}}">
    @for (navObject of navObjects; track navObject) {
        
            @if(isBrand(navObject.content)) {
            <div class="{{navObject.tailwindArgs}}">
                <div class="flex items-center gap-1">
                    <div>
                        <img ngSrc="{{ brandImagePath }}" width="{{navObject.content.iconSize}}" height="{{navObject.content.iconSize}}"/>
                    </div>
                    <div class="font-brand">
                        {{ navObject.content.name }}
                    </div>
                </div>
            </div>
            }
            @else if(isList(navObject.content)) {
            <ul class="{{navObject.tailwindArgs}}">
                @for (item of navObject.content.items; track item) {
                    @if( (navObject.content.subItems?.[item]?.length ?? 0) > 0 ) {
                        <!-- Items da navbar que contêm submenu -->
                        <li [class]="'flex items-center ' + navObject.content.itemsTailwindArgs?.[item] || '' ">
                            <span [class]="'material-symbols-outlined ' + navObject.content.itemsTextElement?.[item]?.tailwindArgs || ''">
                                {{ navObject.content.itemsTextElement?.[item]?.icon ?? '' }}
                            </span>
                            <div [class]="navObject.content.itemsTextElement?.[item]?.tailwindArgs ?? ''">
                                {{ item }}
                            </div>
                            <span class=" material-symbols-outlined text-primary-300">
                                arrow_drop_down
                            </span>
                        </li>
                    } @else {
                        <!-- Items da navbar que NÃO contêm submenu -->
                        <li [class]="'flex items-center ' + navObject.content.itemsTailwindArgs?.[item]  || ''" >
                            <a href="#" [class]="'flex items-center '">
                                <span [class]="'material-symbols-outlined ' + navObject.content.itemsTextElement?.[item]?.tailwindArgs || ''">
                                    {{ navObject.content.itemsTextElement?.[item]?.icon ?? '' }}
                                </span>
                                <div [class]="navObject.content.itemsTextElement?.[item]?.tailwindArgs ?? ''">
                                    {{ item }}
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
            }
    }    
    </div>  
</div>
<div class="{{spaceBelow}}"></div>
