$primary-color: #C9CBA3;
$primary-bg: #f7f3ec;
$primary-text: #472D30;
$light-primary-color: #FFE1A8;


$secondary-color: #E26D5C;
$secondary-bg: #b3786f;
$secondary-text: #723D46;
$light-secondary-color: #e79487; 

$white-color: #ffffff;
$black-color: #000000;


$bg_light: #FFF5EC;
$bg_dark: #B6866F;
$tt_light: #FFF5EC;
$tt_dark: #402E32;
$primary: hsl(20,78%,53%);
$primary_100: hsl(20,40%,92%);
$primary_200: hsl(20,69%,81%);
$primary_300: hsl(20,77%,70%);
$primary_400: hsl(20,77%,61%);
$primary_500: hsl(20,77%,53%);
$primary_600: hsl(20,79%,41%);
$primary_700: hsl(20,87%,31%);
$primary_800: hsl(20,90%,22%);
$primary_900: hsl(20,90%,13%);
$secondary: #8B1B00;
$tertiary: #006B5E;
$auxgreen: hsl(90,78%,53%);
$auxgreen_100: hsl(90,40%,92%);
$auxgreen_200: hsl(90,69%,81%);
$auxgreen_300: hsl(90,77%,70%);
$auxgreen_400: hsl(90,77%,61%);
$auxgreen_500: hsl(90,77%,53%);
$auxgreen_600: hsl(90,79%,41%);
$auxgreen_700: hsl(90,87%,31%);
$auxgreen_800: hsl(90,90%,22%);
$auxgreen_900: hsl(90,90%,13%);
$auxyellow: hsl(52,78%,53%);
$auxyellow_100: hsl(52,40%,92%);
$auxyellow_200: hsl(52,69%,81%);
$auxyellow_300: hsl(52,77%,70%);
$auxyellow_400: hsl(52,77%,61%);
$auxyellow_500: hsl(52,77%,53%);
$auxyellow_600: hsl(52,79%,41%);
$auxyellow_700: hsl(52,87%,31%);
$auxyellow_800: hsl(52,90%,22%);
$auxyellow_900: hsl(52,90%,13%);
$auxred: hsl(0,78%,53%);
$auxred_100: hsl(0,40%,92%);
$auxred_200: hsl(0,69%,81%);
$auxred_300: hsl(0,77%,70%);
$auxred_400: hsl(0,77%,61%);
$auxred_500: hsl(0,77%,53%);
$auxred_600: hsl(0,79%,41%);
$auxred_700: hsl(0,87%,31%);
$auxred_800: hsl(0,90%,22%);
$auxred_900: hsl(0,90%,13%);
$auxblue: hsl(194,78%,53%);
$auxblue_100: hsl(194,40%,92%);
$auxblue_200: hsl(194,69%,81%);
$auxblue_300: hsl(194,77%,70%);
$auxblue_400: hsl(194,77%,61%);
$auxblue_500: hsl(194,77%,53%);
$auxblue_600: hsl(194,79%,41%);
$auxblue_700: hsl(194,87%,31%);
$auxblue_800: hsl(194,90%,22%);
$auxblue_900: hsl(194,90%,13%);